body {
    background-color: #999999 !important;
    position: relative;
}

.logo-placeholder {
    margin: 20px 0 0 20px;
}

/*---------------------------------------------- */
/*       IMAGEM PRO 'LOGIN' NA TELA INDEX       */
.banner-placeholder {
    width: 100%;
    max-width: 600px;
    height: 300px;
    background-color: #c5c5c5;
    border: 2px dashed #ccc;
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*--------------------------------------- */
/*       CONTAINER DO FORM NO INDEX       */
.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

/* ------- */
/* BOTÕES */
.btn-entrar {
    background-color: #6c757d;
    color: #fff;
    width: 100%;
}

.btn-entrar:hover {
    background-image: linear-gradient(to right, #BF0413 , #F25C05);
    color: #fff;    
}

/*------------------------------------------------------------------- */
/*       LINKS NO INDEX ("Esqueci minha senha" e "Criar conta")       */
.criar-conta-link {
    text-align: center;
    margin-top: 20px;
    color: #2F2F2F;
}

.criar-conta-link a {
    text-decoration: underline;
    color: #4A1F1F;
}

.criar-conta-link a:hover {
    color: #7A2E2E;
}

.form-label {
    color: #2F2F2F;
}

/*-------------------- */
/*       FOOTER       */
.footer {
    background-color: #666A70 !important;
    border-top-color: #999999 !important;
}

.footer-disclaimer {
    color: #ECECEC;
}