/* favoritos.php, assistir mais tarde e generos de filmes */
body {
    background-color: #302D2A;
}

.header {
    background-color: #1a1a1a;
    border-bottom: #1a1a1a;
}

.search-input::placeholder {
    color: #999;
}

.search-btn {
    background-color: #2a2a2a;
    border-color: #6C757D;
    color: #fff;
}

.nav-links a {
    color: #fff;
}

.nav-links a:hover {
    color: #ccc;
}

.user-icon {
    background-color: #2a2a2a;
}

.lista-title {
    color: #C4C4C4;
}

.lista-card a {
    color: #333;
}

.lista-poster {
    background: #e0e0e0;
    border-radius: 8px;
    border: 2px solid #ddd;
}

.lista-vazio {
    color: #BDBDBD;
}

.lista-card-titulo {
    color: #BDBDBD !important;
}

.footer {
    background-color: #1a1a1a !important;
    border-top-color: #1a1a1a !important;
}

.footer-disclaimer {
    color: #A6A6A6 !important;
}

.footer-links a {
    color: #A6A6A6 !important;
}

/*FAVORITOS*/
.favoritos-title {
    color: #C4C4C4;
}

.favoritos-card a {
    color: #333;
}

.favoritos-poster {
    background: #e0e0e0;
    border: 2px solid #ddd;
}

.favoritos-card-titulo {
    color: #BDBDBD;
}

.favoritos-vazio {
    color: #BDBDBD;
}

/* Gêneros de filmes */
.favoritos-poster {
    background: #e0e0e0;
}

span {
    color: #1a1a1a;
    /*Escolher uma cor para o texto do gênero */
}

/*RECUPERAR SENHA*/
.rec-senha-h4 {
    color: #BDBDBD;
}

/*NOVA SENHA*/
.cadastro-container {
    color: #BDBDBD;
}